
{{form_start(registration_form)}}
            {{ form_row(registration_form.email,{label:"Nom de l'évènement"}) }}
            {{ form_row(registration_form.message,{label:"Description"}) }}
           
            <button type="submit" class="btn btn-primary">Envoyer</button>
{{form_end(registration_form)}}