{% extends '_template-navbar.html.twig' %}

{% block title %}Modification profil{% endblock %}

{% block content %}
 {# le vh est temporaire #}
 <div class="container-fluid d-flex justify-content-center vh-100  row ">
    <div class="section  p-3 bg-light shadow  align-self-center">
       <h1 class="text-center">Modification profil</h1>
        {{form_start(registration_form)}}
            {{ form_row(registration_form.email,{label:"Adresse email"}) }}
            {{ form_row(registration_form.pseudo,{label:"Pseudo"}) }}

                 <button type="submit" class="btn btn-primary">Enregistrer</button>
        {{form_end(registration_form)}}


       

    </div>
  </div>

{% endblock %}
